<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.BicyclePileMapper">


    <sql id="pileContent">
        PILE_ID AS pileId,VENDER_ID AS venderId,PILE_CODE AS pileCode,STATION_ID AS stationId,
        STATUS AS status,INSTALL_TIME AS installTime,DISASSEMBLY_TIME AS disassemblyTime,USER_ID AS userId,
        OPERATOR_TIME AS operatorTime,BICYCLE_ID AS bicycleId,REMARK AS remark
    </sql>
    <select id="findBicyclePileByPileId" resultType="com.aowin.pojo.BicyclePile">
        SELECT
        <include refid="pileContent"/>
        FROM BICYCLE_PILE
        WHERE
        PILE_ID = #{_parameter}
    </select>

    <update id="updatePilesStatusTo_1" parameterType="Integer">
        UPDATE BICYCLE_PILE
        SET STATUS = '1'
        <where>
            PILE_ID = #{_parameter}
        </where>
    </update>

    <select id="findBicyclePileByStationId" parameterType="Integer" resultType="com.aowin.pojo.BicyclePile">
        SELECT
        <include refid="pileContent"/>
        FROM BICYCLE_PILE
        <where>
            STATION_ID = #{_parameter}
        </where>
    </select>

    <select id="findEmptyBicyclePileByStationId" parameterType="Integer" resultType="com.aowin.pojo.BicyclePile">
        SELECT
        <include refid="pileContent"/>
        FROM BICYCLE_PILE
        <where>
            STATION_ID = #{_parameter} AND STATUS = 2
        </where>
    </select>

    <update id="updatePilesBicycle">
        UPDATE BICYCLE_PILE
        SET BICYCLE_ID = #{bicycleId}
        <where>
            PILE_ID = #{pileId}
        </where>
    </update>

</mapper>