<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.BicycleOrderDetailMapper">

    <sql id="bicycleOrderDetailContent">
        DETAIL_ID AS detailId,CATAGORY_ID AS catagoryId,ORDER_ID AS orderId,BICYCLE_ID AS bicycleId,CREATE_DATE AS createDate,
        BATCH_NO AS batchNo,PRICE AS price,REMARK AS remark
    </sql>

    <select id="findBicycleOrderDetailsByOrderId" parameterType="Integer" resultType="com.aowin.pojo.BicycleDeal">
        SELECT
        <include refid="bicycleOrderDetailContent"/>
        from BICYCLE_ORDER_DETAIL
        <where>
            ORDER_ID=#{_parameter}
        </where>
    </select>

    <select id="findNextBicycleId" resultType="Integer">
        SELECT DETAIL_BICYCLE_ID_SEQUENCE.nextval AS bicycleId FROM dual
    </select>

    <insert id="insertBicycleOrderDetail" parameterType="com.aowin.pojo.BicycleOrderDetail" keyProperty="detailId">
        <selectKey keyProperty="detailId" resultType="Integer" order="BEFORE">
            SELECT BICYCLE_ORDER_DETAIL_SEQUENCE.nextval AS detailId FROM dual
        </selectKey>
        INSERT INTO
        BICYCLE_ORDER_DETAIL(DETAIL_ID,BICYCLE_ID,CATAGORY_ID,ORDER_ID,CREATE_DATE,BATCH_NO,PRICE,REMARK)
        VALUES
        (
        #{detailId},#{bicycleId},
        #{catagoryId,javaType=int,jdbcType=INTEGER},
        #{orderId,javaType=int,jdbcType=INTEGER},
        #{createDate},#{batchNo},#{price},
        #{remark,javaType=String,jdbcType=VARCHAR}
        )
    </insert>


</mapper>