<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.BicycleInfoMapper">


    <sql id="bicycleInfoContent">
        BICYCLE_ID AS bicycleId,BICYCLE_CODE AS bicycleCode,STATUS AS status,PILE_ID AS pileId,DESTORY_DATE AS destoryDate,
        USER_ID AS userId,OPERATOR_TIME AS operatorTime,CARD_ID AS cardId,REMARK AS remark
    </sql>


    <select id="findBicycleInfoByBicycleId" parameterType="Integer" resultType="com.aowin.pojo.BicycleInfo">
        SELECT
        <include refid="bicycleInfoContent"/>
        FROM BICYCLE_INFO
        <where>
            BICYCLE_ID = #{_parameter}
        </where>
    </select>
    <insert id="insertBicycleInfo" parameterType="com.aowin.pojo.BicycleInfo">
        <selectKey resultType="Integer" keyProperty="bicycleId" order="BEFORE">
            SELECT BICYCLE_INFO_SEQUENCE.nextval AS bicycleId FROM dual
        </selectKey>
        INSERT INTO
        BICYCLE_INFO(BICYCLE_ID,BICYCLE_CODE,STATUS,PILE_ID,DESTORY_DATE,USER_ID,OPERATOR_TIME,CARD_ID,REMARK)
        VALUES
        (#{bicycleId},#{bicycleCode},#{status},
        #{pileId,javaType=int,jdbcType=INTEGER},
        #{destoryDate,javaType=String,jdbcType=VARCHAR},
        #{userId,javaType=int,jdbcType=INTEGER},
        #{operatorTime,javaType=String,jdbcType=VARCHAR},
        #{cardId,javaType=int,jdbcType=INTEGER},
        #{remark,javaType=String,jdbcType=VARCHAR})
    </insert>

    <select id="findBicycleInfoByBicycleCode" parameterType="Integer" resultType="com.aowin.pojo.BicycleInfo">
        SELECT
        <include refid="bicycleInfoContent"/>
        FROM BICYCLE_INFO
        <where>
            BICYCLE_CODE = #{_parameter}
        </where>
    </select>

    <select id="findNewBicycle" resultType="com.aowin.pojo.BicycleInfo">
        SELECT
        <include refid="bicycleInfoContent"/>
        FROM
        BICYCLE_INFO
        <where>
            STATUS = 1
        </where>
    </select>

    <update id="updateBicycleInfoStatusTo3" parameterType="Integer">
        UPDATE BICYCLE_INFO
        SET STATUS = 3
        <where>
            BICYCLE_ID = #{_parameter}
        </where>
    </update>

    <update id="updateBicycleInfoPileId">
        UPDATE BICYCLE_INFO
        SET PILE_ID=#{pileId}
        <where>
            BICYCLE_ID = #{bicycleId}
        </where>
    </update>

    <select id="findBicycleInfoPage" resultType="com.aowin.pojo.BicycleInfo">
        SELECT
        *
        FROM
        (SELECT<include refid="bicycleInfoContent"/>,ROWNUM as RN FROM BICYCLE_INFO a
        <where>
            a.STATUS='1' AND <![CDATA[ROWNUM <= #{end}]]>
        </where>
        ORDER BY a.BICYCLE_ID) s
        <where>
            <![CDATA[s.RN > #{begin}]]>
        </where>
    </select>

    <select id="findCountRows" resultType="Integer">
        SELECT count(BICYCLE_ID)
        FROM BICYCLE_INFO
    </select>
</mapper>
