<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.SyPermissionMapper">

    <insert id="insertSyPermission" parameterType="com.aowin.pojo.SyPermission">
        <selectKey resultType="Integer" order="BEFORE" keyProperty="permissionid">
            SELECT SYPERMISSION_SEQUENCE.nextval AS permissionid FROM dual
        </selectKey>
        INSERT INTO
        SYPERMISSION(PERMISSIONID,ROLEID,PHASEID)
        VALUES (
        #{permissionid},
        #{roleid,javaType=int,jdbcType=INTEGER},
        #{phaseid,javaType=int,jdbcType=INTEGER}
        )
    </insert>

    <select id="findSyPermissionByRoleId" parameterType="Integer" resultType="com.aowin.pojo.SyPermission">
        SELECT PERMISSIONID,ROLEID,PHASEID FROM SYPERMISSION
        <where>
            <if test="_parameter!=null">
                roleid=#{_parameter}
            </if>
        </where>
    </select>

    <delete id="deleteSyPermissionByPermissionId" parameterType="Integer">
        DELETE FROM SYPERMISSION
        WHERE PERMISSIONID=#{_parameter}
    </delete>

    <delete id="deleteSyPermissionByRoleIdAndPhaseId" >
        DELETE FROM SYPERMISSION
        WHERE ROLEID = #{roleId} AND PHASEID = #{phaseId}
    </delete>

    <delete id="deleteSyPermissionByRoleId" parameterType="Integer">
        DELETE FROM SYPERMISSION
        WHERE ROLEID = #{_parameter}
    </delete>
</mapper>