<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.BicycleDealMapper">

    <insert id="insertBicycleDeal" parameterType="com.aowin.pojo.BicycleDeal">
        <selectKey keyProperty="dealId" order="BEFORE" resultType="Integer">
            SELECT BICYCLE_DEAL_SEQUENCE.nextval AS dealId FROM dual
        </selectKey>
        INSERT INTO
        BICYCLE_DEAL(DEAL_ID,CREATE_TIME,DEAL_NAME,DEAL_TYPE,RECORD_ID,CARD_ID,IS_FEE,CHG_MONEY,FEE_TYPE,BICYCLE_ID,PILE_ID,USER_ID)
        VALUES (
        #{dealId},
        #{createTime},
        #{dealName,javaType=String,jdbcType=VARCHAR},
        #{dealType},
        #{recordId},
        #{cardId,javaType=int,jdbcType=INTEGER},
        #{isFee},
        #{chgMoney,javaType=Double,jdbcType=DOUBLE},
        #{feeType,javaType=int,jdbcType=INTEGER},
        #{bicycleId,javaType=int,jdbcType=INTEGER},
        #{pileId,javaType=int,jdbcType=INTEGER},
        #{userId,javaType=int,jdbcType=INTEGER}
        )
    </insert>

</mapper>