<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aowin.dao.BicycleStationMapper">


    <sql id="bicycleStationContent">
                STATION_ID AS stationId,STATION_CODE AS stationCode,STATION_NAME AS stationName,LONGITUDE AS longitude,
        LATITUDE AS latitude,BICYCLE_PILE_NUM AS bicyclePileNum,ADDRESS AS address,PERSON_IN_CHARGE AS personInCharge,
        BUILD_TIME AS buildTime,RUN_TIME AS runTime,USER_ID AS userId,CREATE_TIME AS createTime,REMARK AS remark
    </sql>
    <select id="findAllBicycleStations" resultType="com.aowin.pojo.BicycleStation">
        SELECT
        <include refid="bicycleStationContent"/>
        FROM BICYCLE_STATION
    </select>

    <select id="findBicycleStationByStationId" resultType="com.aowin.pojo.BicycleStation" parameterType="Integer">
        SELECT
        <include refid="bicycleStationContent"/>
        FROM BICYCLE_STATION
        <where>
            STATION_ID = #{_parameter}
        </where>
    </select>

    <select id="findBicycleStationWithEmptyPile" resultType="com.aowin.pojo.BicycleStation">
        select
        <include refid="bicycleStationContent"/>
        from bicycle_station s
        <where>
            (select count(p.pile_id)
            from bicycle_pile p
            where p.station_id=s.station_id and p.status=2)
            >0
        </where>
    </select>

    <select id="findStationsByNameAndAddress" resultType="com.aowin.pojo.BicycleStation">
        <bind name="_name" value="'%'+stationName+'%'"/>
        <bind name="_address" value="'%'+address+'%'"/>
        SELECT
        <include refid="bicycleStationContent"/>
        FROM BICYCLE_STATION
        <where>
            1=1
            <if test="stationName!=null and stationName != ''">
                AND STATION_NAME LIKE #{_name}
            </if>
            <if test="address != null and address !=''">
                AND ADDRESS LIKE #{_address}
            </if>
        </where>

    </select>
</mapper>